:root {
    --chart-border-color: #3e3d43;
}

.text-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    width: 30%;
    height: max-content;
    /*box-shadow: 0px 1px 15px var(--chart-border-color);*/
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    text-align: left;
}


h2 {
    margin: auto;
    text-transform: uppercase;
    font-weight: 500;
}

.text-chart:hover {
    scale: 1.005;
}