.hero {
  position: relative;
  height: 70vh;
  background-color: white; 
  overflow: hidden;
}

.hero-text {
  position: relative;
  z-index: 1;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
}

.hero-text h3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero-text img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80px;
  border-radius: 50%;
  height: 80px;
  border: 3px solid #fff;
}

@media (max-width: 665px) {
  .hero-text h3 {
    transform: scale(0.8);
    left: unset;
    top: 10%;
  }

  .hero-text img {
    top: 80%;
    width: 60px;
    height: 60px;
  }
}