.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

/* particles arka plan */
.hero canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* içerik */
.hero-text {
  position: relative;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* dikey ortala */
  align-items: center;     /* yatay ortala */

  gap: 25px; /* yazı ile img arası boşluk */

  color: white;
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

.hero-text h3 {
  margin: 0;
  max-width: 800px;
}

.hero-text img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* 🔹 Responsive */
@media (max-width: 665px) {
  .hero-text {
    font-size: 2rem;
    gap: 15px;
    padding: 0 10px;
  }

  .hero-text img {
    width: 60px;
    height: 60px;
  }
}