.aboutus-charts {
    display: flex;
}

.text-chart:nth-child(1) {
    border:  #be746e 1px solid;
}

.text-chart:nth-child(2) {
    border: #e1ca73 1px solid;
}

.text-chart:nth-child(3) {
    border: #72d0b5 1px solid;
}

.aboutus-founder div {
    display: flex;
    align-items: center;
}

.aboutus-founder div img {
    width: 100%;
    height: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px;
   
}

.aboutus-founder div p {
    text-align: left;
    padding: 15px;
}

@media (max-width: 670px) {
    .aboutus-founder div {
        flex-direction: column;
    }

    .aboutus-founder div img {
        width: 150px;
        height: 150px;
        margin: 15px 0;
    }

    .aboutus-founder div p{
        text-align: center;
    }
}