.contact-container {
    position: fixed;
    top: 50%;
    right: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
}

.contact-container img {
    width: 50px;
}

.contact-container p {
    font-family: 'Outfit' , sans-serif;
}